body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calc-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    justify-content: center;
    min-width: 325px;
    min-height: 375px;
    box-sizing: border-box;

}

#screen {
    background-color: green;
    display: flex;
    flex-direction: column;
    min-width: 275px;
    min-height: 120px;
}

#result {
    flex: 1;
    font-size: 40px;
}

#numinp {
    font-size: 30px;
    text-align: right;
}

#buttons-con{
    background-color: indigo;
    display: flex;
    min-width: 275px;
    min-height: 200px;
}

#buttons-con > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

#buttons-con > div > button {
    box-sizing: border-box;
    text-align: center;
    min-width: 43px;
    min-height: 33px;
}

